%h1 Change Password

= form_tag change_password_update_user_path(current_user), :method => :put do
  .field
    = label_tag 'Old password'
    = password_field_tag 'old_password', nil, :size => 45, :class => 'text'
    
  .field
    = label_tag 'New password'
    = password_field_tag 'password', nil, :size => 45, :class => 'text'
    .help Between 4 and 40 characters

  .field
    = label_tag 'Confirm new password'
    = password_field_tag 'password_confirmation', nil, :size => 45, :class => 'text'
        
  = submit_tag 'Change password'