#site-footer.ui-layout-south
  #site-bottom-nav
    %span
      = link_to "About Us", "javascript:void(0);"
    |
    %span
      = link_to "Contact Us", "javascript:void(0);"
    |
    %span
      = link_to "Privacy", "javascript:void(0);"
    |
    %span
      = link_to "Terms", "javascript:void(0);"
    |
    %span
      = link_to "FAQ", "javascript:void(0);"
    |
    %span
      = link_to "Blog", "javascript:void(0);"