-# %span.user_header
  -# %p.username= current_user.username
  -# = link_to 'Logout', signout_path, :method => :delete
  -# = link_to 'My Storyboards', story_boards_path
  -# = link_to 'Account', current_user
  -# - if current_user.admin?
    -# = link_to 'Admin: Add new user', sign_up_path, :class => 'admin_task'
    
%span 
  Welcome 
  %strong= current_user.username
|
%span
  = link_to "My Storyboards", story_boards_path
|
%span
  = link_to "My Account", current_user
|
%span
  = link_to "Logout", signout_path, :method => :delete
- if current_user.admin?
  |
  %span
    = link_to 'Admin: Add new user', sign_up_path, :class => 'admin_task'